@media screen and (max-width:375px) {
/* Mobiles portrait */
/* iPhone6+ portrait = 540px */
/* iPhone6 portrait = 375px */
/* iPhone4 & iPhone5 portrait = 320px */


h1{font-size: 10vw;
   line-height:11vw;}

h2{font-size: 8vw;
   line-height:9.7vw;}

h3{font-size: 4vw;
   padding-left:3vw;
   line-height:4.5vw;}

p{font-size:5vw;
  line-height:6.5vw;}

address{font-size:7vw;}

.menu {
  cursor: pointer;
  right:5vw;
  top:5vh;
  padding-left: 1.25em;
  position: fixed;
  z-index:21;
}

#mail a{font-size:7vw;
        line-height: 20vw;}

#tel{margin-top:8vw;}


br{display: none;}

svg{display: none;}

#logo{width:30vw;}

#textlogo{height:10vw;}

#accueil{height:75vh;
         padding-left:8vw;
         padding-top:35vh;}

#logoimg{width:14vw;}

#scrolldownimg{display:none; }

#apropos{height:100vh;
         padding-left:8vw;
         padding-right:8vw;
         padding-top:10vh;}

.nowrap{white-space: normal;
        font-size:10vw;
        line-height:11vw;}
#brmobile{display: block;}

.entete{margin-bottom:7vh;}

#mescreations{
         padding-left:8vw;
         padding-right:8vw;
         padding-top:10vh;}

#projet3,#projet2,#projet1{height:75vh;}

#texteasideprj1 p,#texteasideprj2 p,#texteasideprj3 p{font-size:5vw;
  line-height:6.5vw;}

#contact{ padding-left:8vw;
         padding-right:8vw;
         padding-top:10vh;}

#navfooter{width:30%;
           position:relative;
           margin-left: 0%;
           margin-top: 5vw;}

footer{padding-left:8vw;
         padding-right:8vw;
         padding-top:3vh;
         margin-bottom:6vh;}

#mentions{font-size:5vw;
  line-height:6.5vw;}

em{font-size:5vw;
  line-height:6.5vw;}

.humberger #conteneurlien a{font-size:5vw;}




}/*fin media phone*/