
/* --------------------------------------- fin du RESET ------------------------------------- */

@media screen and (max-width:2560px) {
/* iMac 27" paysage = 2560px */

#cooming-soon{
	width:100%;
	height: 100vh;
	position:fixed;
	background-color:#f4f4f4;
	z-index: 999;
	padding-top: 41vh;
	text-align:center
}

#cooming-soon p{
	width:45vw;
	margin-left:27.5vw;
}

html,
body{
	background-color:#f4f4f4
}

h1,h2,h3,
p,a,
a:visited{
	color:#3a3a3a;
}

h2,p{
	font-family:'gilroylight',helvetica,sans-serif;
}

h1,h3{
	font-family:'gilroyextrabold',helvetica,sans-serif;
}

h1{
	font-size:3vw;
	line-height:3.1vw;
}

h2{
   font-size:2.5vw;
}

h3{
	line-height: 2vw;
	font-size:1.5vw;
	letter-spacing:0.09vw;
}

p{
   font-size:1.5vw;
   line-height:2vw;
}

cite{
	text-align: right;
	display:block;
	font-family:'gilroylight', helvetica,sans-serif;
}

cite strong{
	font-family:'gilroyextrabold',helvetica,sans-serif;
}

blockquote p{
	font-family:'gilroyextrabold',helvetica,sans-serif;
}

strong{
	color:#2468ff;
}

figcaption{
	display:none
}

button {
  z-index: 1;
  position: relative;
  font-size: 1vw;
  color: #fff;
  padding: 0.5vw .5vw;
  width:15vw;
  outline: none;
  border: none;
  background-color: rgb(36, 104, 255);
  overflow: hidden;
  transition: color 0.4s ease-in-out; 
  font-family:'gilroyextrabold',helvetica,sans-serif;
  text-transform:uppercase;
  letter-spacing:0.1vw;
}

button::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 100%;
  right: 100%;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: #3a3a3a;
  transform-origin: center;
  transform: translate(50%, -50%) scale(0);
  transition: transform 0.45s ease-in-out;
}

button:hover {
  cursor: pointer;
  color: #fff;
}

button:hover::before {
  transform: translate(50%, -50%) scale(35);
}

address{
	position:relative;
	font-family:'gilroyextrabold', helvetica, sans-serif;
	letter-spacing:0.05vw;
	font-size:1.5vw;
   	line-height:2vw;
   	color:#3a3a3a;
   	display:inline;
}

header nav a{
	line-height:1.15vw;
	position:relative;
	height:1.5vw;
}

#wrapper-blog header nav a:nth-child(1){
	color:#2468ff;
}

#header-blog nav a:nth-child(4){
	color:#3A3A3A;
}

header nav a:nth-child(4){
	color:#2468ff;
}

header nav a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #2468ff;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

header nav a:hover::before {
  transform-origin: bottom left;
  transform: scaleX(1);
}

#img-fond{
	width:100vw;
	height:100vh;
	position:fixed;
	z-index:1;
	background-image: url('../images/logo-fond.png');
	background-position:center;
	background-size:35%;
	background-repeat:no-repeat;
}

#wrapper,
#wrapper-blog{
	padding:3vw 5vw 3vw 5vw;
	z-index:94;
	position:relative;
}

.menu,.humberger{display:none;}

header{
	width:100%;
	height:3vw;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
}

header #logo{
	width:3%;
	z-index:5;
	position:relative;
}

header nav{
	width:30%;
	display: flex;
	flex-direction:row;
	justify-content:space-between;
	font-family:'gilroyextrabold',helvetica,sans-serif;
	letter-spacing:0.08vw;
	font-size:1vw;
}



#header-left-fixed{
	width:1.7%;
	height:100vh;
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	position:fixed;
	top:0;
	padding:55vh 0% 5vh 0%;
}

#nav-socialmedia{
	width:100%;
	height:7vw;
	display:flex;
	flex-direction:column;
	justify-content:space-between;
}

#nav-socialmedia a:nth-child(2){
	margin-bottom:0.25vw
}

#nom{
	font-family:'gilroyextrabold',helvetica,sans-serif;
	letter-spacing:0.07vw;
	color:#3a3a3a;
	transform:rotate(-90deg);
}

#intro,
#portfolio,
#apropos,
#entete-presentation-about,
#texte-pres-about,
#explication-about,
#intro-about,
#wrapper-blog ul,
#source,
article,
#projet-page{
	width:70%;
	margin-left:15%;
}

#intro{
	margin-top:10vw;
	margin-bottom:11.5vw;
}

#titre,
#texte-intro,
#texte-intro-about,
#texte-apropos{
	width:47.5%;
}

#titre h1{
	display:block;
}

#barre-bleu-intro-about,
#barre-bleu-intro{
	background-color:#2468ff;
	height:0.5vw;
}

#barre-bleu-intro{
	margin:1vw 0vw 0vw 25%;
	width:75%;
}

#texte-intro{
	margin:-1.5vw 0vw 0vw 50%
}

#texte-intro button,
#texte-apropos button,
#texte-intro-about button{
	margin-top: 1.5vw
}

.motif-projet1,
.motif-projet2,
.motif-projet3,
.motif-projet4,
.motif-projet5,
.motif-projet6{
	position:absolute;
	z-index:1
}

.motif-grand{
	width:20%;
}

.motif-moyen{
	width:13%;
}

.motif-petit{
	width:10%;
}

.motif-projet1{
	margin-top:3vw;
	left:65vw;
}

.motif-projet2{
	margin-top:30vw;
	left:14.5vw;
}

.motif-projet3{
	margin-top:6vw;
	left:14.5vw;
}

.motif-projet4{
	margin-top:-5vw;
	left:54.5vw;
}

.motif-projet5{
	margin-top:-5vw;
	left:25vw;
}

.motif-projet6{
	margin-top:22vw;
	left:60vw;
}

.projet1 figure,
.projet2 figure,
.projet3 figure{
	position:absolute;
}

.projet1 figure{
	left:5vw;
	margin-top:-6vw;
	width:40%;
}

.projet1 .text-projet,
.projet3 .text-projet{
	margin-left:60%
}

.projet2 figure{
	left:54%;
	width:40%;
	margin-top:-7vw;
}

.projet3 figure{
	width:37%;
	margin-top:0vw;
	left:6vw;
}

.projet{
	position: relative;
	z-index:4;
	padding:4vw;
	width:100%;
	background-color:#3a3a3a;
	margin-bottom:9vw;
}

.projet1{
	margin-top:7vw;
}

.projet h1,
.projet p{
	color:#fff;
}

.projet h1,
.projet .num-prj,
.projet .barre-projet,
#barre-entete,
.en-tete h1{
	margin-bottom:1.5vw;
}

.projet p{
	margin-bottom:3vw;
	font-size:1.15vw;
	line-height:1.7vw
}

.text-projet{
	width:40%;
}

.barre-projet{
	background-color:#2468ff;
	width:50%;
	height:.25vw;
}

.projet2 .barre-projet{
	margin-left:50%
}

.projet2 .text-projet{
	text-align:right;
}

.num-prj{
	color:#2468ff;
	font-size:2vw;
	font-family:'gilroyextrabold',helvetica,sans-serif;
}

#barre-entete{
	width:25%;
	height:.5vw;
	margin-left:23%;
	background-color:#2468ff;
}

#texte-apropos{
	margin:-2.9vw 0vw 0vw 50%
}

#contacts,
footer{
	position:relative;
	z-index:94;
}

#contacts{
	background-color:#2468ff;
	padding:5vw 5vw 4vw 5vw;
	margin-top:6vw;
	display:flex;
	flex-direction:row;
	justify-content: space-between;
}

#text-contact{
	margin:0% 0% 0% 15%;
	width:40%;
}

#text-contact h1,
#text-contact p{
	margin-bottom:2vw;
}

#text-contact p{
	color:#fff;
}

#text-contact address{
	margin-bottom:1vw
}

#nav-contact{
	margin-right:15%;
	display:flex;
	flex-direction:row;
}

#nav-contact1{
	margin-right:5vw
}

#nav-contact1,
#nav-contact2{
	display: flex;
	flex-direction:column;
	margin-top:1.85vw;
}

#nav-contact1 a,
#nav-contact2 a{
	margin-bottom:1vw;
	font-size:1.25vw;
	color:#3a3A3A;
	font-family:'gilroyextrabold',helvetica,sans-serif;
	letter-spacing:0.05vw;
}

#nav-contact1 div,
#nav-contact2 div,
footer p{
	margin-bottom:1vw;
	font-size:1.25vw;
	color:#fff;
	font-family:'gilroylight',helvetica,sans-serif;
	letter-spacing:0.05vw;
}

footer p{text-align:center;}

footer{
	background-color:#3a3a3a;
	padding:2vw 5vw
}

/* -------------------------------- page about --------------------------------*/

#intro-about{
	margin-top:10vw;
	margin-bottom:10vw
}

#barre-bleu-intro-about{
	width:45%;
	margin:1vw 0vw 0vw 55%;
}

#entete-presentation-about,
#entete-explication-about,
#texte-pres-about,
#intro-about{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
}

#entete-presentation-about h1,
#texte-pres-about aside,
#entete-explication-about h1,
#intro-about #titre-about{
	text-align:right;
	width:42.5%;
}

#entete-presentation-about h2,
#texte-pres-about div,
#texte-exp-about,
#entete-explication-about h2,
#intro-about #texte-intro-about{
	width:50%;
}

#texte-pres-about{
	margin-top:3vw
}

#aside-about ul{
	width:35%;
	margin:2vw 0vw 0vw 65%;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-between;
}

#aside-about ul li{
	width:45%;
	margin-top:0.5vw;
}

#explication-about{
	margin-bottom:6vw;
}

#entete-explication-about{
	margin-top: 10vw;
}

#texte-exp-about{
	margin:3vw 0vw 0vw 50%
}

/* -------------------------------- page blog/article --------------------------------*/

#wrapper-blog ul{
	margin-top:10vw;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-between;
}

#wrapper-blog li{
	background-color:#3a3a3a;
	width:28vw;
	margin-bottom:5vw;
}

#text-li-blog{
	padding:2vw;
	height:auto;
}

#text-li-blog h3{
	color:#2468ff;
	width:75%;
	margin-right:5%;
}

#text-li-blog p{
	color:#fff;
	margin:2vw 0vw;
}

#text-li-blog button{
	margin-left:4.5vw;
}

#entete-li-blog{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
}

#date-article-li{
	color:#fff;
	font-family:'gilroylight',helvetica,sans-serif;
	font-size:1.25vw;
	line-height:2.25vw;
	letter-spacing:0.09vw;
	width:30%;
	text-align:right;
}

#source a{
	text-decoration:underline;
	transition:0.3s ease-in-out;
}

#source a:hover{
	color:#2468ff;
}

#source p{
	line-height:3vw
}

#bouton-retour-blog button{
	margin-left:37.5vw;
	margin-top:5vw
}

/* -------------------------------- page projet --------------------------------*/

#intro h3{
	line-height:0.7vw
}

#entre-prj1 figure,
#entre-prj1,
#entre-projet2,
.sous-entre-prj-petite figure,
.sous-entre-prj-grande figure,
.sous-entre-prj-moyene figure,
.sous-entre-prj-moyene,
.sous-entre-prj-petite,
.sous-entre-prj-grande{
	margin-bottom:5vw;
}

#entre-prj2{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content: space-between;
}

.sous-entre-prj-petite{
    width: 37.5%;
}

.sous-entre-prj-moyene {
    width: 55.5%;
}

.img-prj-phone{
	width:30%;
}

#bouton-voir-site{
	text-align: center;
}

.trois-img-prj{
	width:100%;
	display:flex;
	flex-direction:row;
	justify-content: space-between;
	margin-bottom:10vw
}

.trois-img-prj figure{
	width:30%;
}

.trois-img-prj figure:nth-child(2){
	margin-top:3.5vw;
}

.trois-img-prj figure:nth-child(3){
	margin-top:7vw;
}



}/*fin destock*/

@media screen and (max-width:1920px) {
/* iMac 21.5" Paysage = 1920px */
}/*fin iMac 21.5*/

