@media screen and (max-width:667px) {
/* Mobiles paysage */
/* iPhone6+ paysage = 960px */
/* iPhone6 paysage = 667px */
/* iPhone5s paysage = 568px */
/* iPhone4 paysage = 468 px */

.menu{
	top:45px;
}

#texte-carrousel-home-1, 
#texte-carrousel-home-2, 
#texte-carrousel-home-3{
	margin-top:250px
}

#img-carrousel-home-1-2{
	top:80px;
}

#img-carrousel-home-2-1,
#img-carrousel-home-3-1,
#img-carrousel-home-4-1{
	margin-top: 370px
}

#texte-carrousel-histoire-1,
#texte-carrousel-histoire-2, 
#texte-carrousel-histoire-3,
#texte-carrousel-histoire-4-1,
#texte-carrousel-safran-1,
#texte-carrousel-safran-2-2,
#texte-carrousel-safran-1, 
#texte-carrousel-safran-3{
	margin-top: 230px
}


#texte-carrousel-histoire-2-2, 
#texte-carrousel-histoire-4-2{
	margin-top: 380px
}

.produits{
	background-size: 350%;
}

#nav-produit{
	margin-top: 150px
}

.bouton{
	margin-bottom:25px;
}

#img-carrousel-safran-1{
	margin-top:250px;
}

.produits-safran #nav-produit{
	margin-top:250px;
}

.epicesprd{
	background-size:350%
}

#main-header{
	position:absolute;
	width: 86vw
}

.epicesprd #main-header{
	top:0px;
}

.contactpage #main-header, .contactpage2 #main-header{
	top:40px;
}

#main-header figure{
	width:10%;
}

#fond-arome1, 
#fond-arome2, 
#fond-arome3, 
#fond-arome4, 
#fond-arome5, #fond-arome6, 
#fond-arome7, #fond-arome8, 
#fond-arome9, #fond-arome10, 
#fond-arome11, #fond-colorant1, 
#fond-colorant2, #fond-colorant3, #fond-colorant4, 
#fond-sucre1, #fond-sucre2, #fond-sucre3, 
#fond-sucre4, #fond-qualite1, #fond-qualite2, 
#fond-qualite3, #fond-qualite4, #fond-qualite5, 
#fond-engagement1, #fond-engagement2, #fond-engagement3, 
#fond-engagement4, #fond-engagement5{
	height:100vh;
}

#fond-arome1, #fond-arome2, 
#fond-arome3, #fond-arome4, 
#fond-arome5, #fond-arome6, 
#fond-arome7, #fond-arome8, #fond-arome9, 
#fond-arome10, #fond-arome11, #fond-colorant3, 
#fond-colorant2, #fond-colorant1, #fond-colorant4, 
#fond-sucre1, #fond-sucre2, #fond-sucre3, #fond-sucre4, 
#fond-qualite1, #fond-qualite2, #fond-qualite3, #fond-qualite4, 
#fond-qualite5, #fond-engagement5, #fond-engagement4, #fond-engagement3, 
#fond-engagement2, #fond-engagement1,#img-carrousel-safran-4, #img-carrousel-safran-2{
	margin-top: 0%
}

#fond-colorant1{
	background-size:380% 
}

#fond-arome6,
#fond-arome7,
#fond-arome8,
#fond-sucre1,
#fond-sucre2{
	background-position: -110% 50%;
}

#texte-carrousel-qualité-1,
#texte-carrousel-qualité-2,
#texte-carrousel-qualite-3,
#texte-carrousel-qualité-4,
#texte-carrousel-qualité-5,
#texte-carrousel-engagement-1,
#texte-carrousel-engagement-2,
#texte-carrousel-engagement-3,
#texte-carrousel-engagement-4,
#texte-carrousel-engagement-5{
	margin-top:210px
}

#texte-carrousel-arome-1, #texte-carrousel-arome-2, #texte-carrousel-arome-3, 
#texte-carrousel-arome-4, #texte-carrousel-arome-5, #texte-carrousel-arome-8, 
#texte-carrousel-arome-9, #texte-carrousel-arome-10, #texte-carrousel-colorant-1, 
#texte-carrousel-colorant-2, #texte-carrousel-colorant-3, #texte-carrousel-sucre-1, 
#texte-carrousel-sucre-2, #texte-carrousel-sucre-3, #texte-carrousel-qualité-1, 
#texte-carrousel-qualite-3, #texte-carrousel-qualité-4, #texte-carrousel-engagement-1, 
#texte-carrousel-engagement-2, #texte-carrousel-engagement-3, #texte-carrousel-engagement-4, 
#texte-carrousel-engagement-5{
	margin-top: 210px;
}

#texte-carrousel-arome-7, #texte-carrousel-arome-6{
	margin-top: 210px;
}

.contactpage, .contactpage2{
	background-size: 360%;
	background-position:50% 50%;
}

.contactpage2 #contenu-conctact{
	margin-top:75px
}


}/* fin media phone paysage*/
