@media screen and (max-width:1024px) {
/* iPad portrait & landscape */

#main-header nav{
	width:75%;
}

#scroll{
	top:75vh;
	left:47%;
}

.pagination{
	margin-top:75vh
}

#img-carrousel-home-1-1{
	top:175px;
}

#img-carrousel-home-1-2{
	width:65%;
	top:75px;
	right:-10vw;
}

#img-carrousel-home-3-1{
	width:80vw;
	margin-top:100px;
}

#img-carrousel-home-4-1{
	margin-top: 225px
}

.histoire{
	background-size:cover;
}

.produits{
	background-size: 150%
}

.bouton{
	width:30vw;
}

#img-carrousel-safran-1{
	margin-top:200px
}

.produits-safran #scroll{
	left:50%;
}

.produits-safran .pagination{
	right:5vw;
	margin-top:90vh
}

#img-carrousel-safran-4,
#img-carrousel-safran-2{
	margin-top: -10.1vh
}

#img-carrousel-safran-3{
	margin-top:150px
}

#fond-arome1{
	height:101.7vh;
	background-size:cover
}

#fond-arome2{
	margin-top:-2vh;
	height:100vh;
}

#main-header{
	position:absolute;
	width: 86vw
}

.epicesprd #main-header{
	top:0px;
}

.contactpage #main-header, .contactpage2 #main-header{
	top:40px;
}

#main-header figure{
	width:10%;
}

#fond-arome1, 
#fond-arome2, 
#fond-arome3, 
#fond-arome4, 
#fond-arome5, #fond-arome6, 
#fond-arome7, #fond-arome8, 
#fond-arome9, #fond-arome10, 
#fond-arome11, #fond-colorant1, 
#fond-colorant2, #fond-colorant3, #fond-colorant4, 
#fond-sucre1, #fond-sucre2, #fond-sucre3, 
#fond-sucre4, #fond-qualite1, #fond-qualite2, 
#fond-qualite3, #fond-qualite4, #fond-qualite5, 
#fond-engagement1, #fond-engagement2, #fond-engagement3, 
#fond-engagement4, #fond-engagement5{
	height:100vh;
}

#fond-arome1, #fond-arome2, 
#fond-arome3, #fond-arome4, 
#fond-arome5, #fond-arome6, 
#fond-arome7, #fond-arome8, #fond-arome9, 
#fond-arome10, #fond-arome11, #fond-colorant3, 
#fond-colorant2, #fond-colorant1, #fond-colorant4, 
#fond-sucre1, #fond-sucre2, #fond-sucre3, #fond-sucre4, 
#fond-qualite1, #fond-qualite2, #fond-qualite3, #fond-qualite4, 
#fond-qualite5, #fond-engagement5, #fond-engagement4, #fond-engagement3, 
#fond-engagement2, #fond-engagement1,#img-carrousel-safran-4, #img-carrousel-safran-2{
	margin-top: 0%
}

#fond-arome9{
	background-size:cover;
	background-position:center center;
}

#fond-engagement1,
#fond-qualite1{
	background-size:cover;
}

.contactpage,
.contactpage2{
	background-size:160%;
}

#contenu-conctact{
	margin-top:150px
}

.contactpage2 #contenu-conctact{
	margin-top:120px
}

#texte-carrousel-safran-1, #texte-carrousel-safran-3,
#texte-carrousel-safran-2-2,
.epicesprd div.section-one p:nth-child(1),
#texte-carrousel-arome-1, #texte-carrousel-arome-2, 
#texte-carrousel-arome-3, #texte-carrousel-arome-4, 
#texte-carrousel-arome-6, #texte-carrousel-arome-7, 
#texte-carrousel-arome-8, #texte-carrousel-arome-9, 
#texte-carrousel-arome-10, #texte-carrousel-colorant-1, 
#texte-carrousel-colorant-2, #texte-carrousel-colorant-3, #texte-carrousel-sucre-1, 
#texte-carrousel-sucre-2, #texte-carrousel-sucre-3, #texte-carrousel-qualité-1, 
#texte-carrousel-qualité-2, #texte-carrousel-qualite-3, #texte-carrousel-qualité-4, 
#texte-carrousel-qualité-5, #texte-carrousel-engagement-1, #texte-carrousel-engagement-4, 
#texte-carrousel-engagement-3, #texte-carrousel-engagement-2, #texte-carrousel-engagement-5,
#nav-produit{
	margin-top: 250px
}

.safranprd #nav-produit{
	margin-top: 300px
}



;}/*ipad landscape fin*/