@media screen and (max-width:768px) {
/* iPad portrait */

.menu,.humberger{display:block;}

.menu {
  cursor: pointer;
  right:7vw;
  top:60px;
  padding-left: 1.25em;
  position: fixed;
  z-index:99;
  width: 3vw;
  height: 3vh;
}
.menu-global {
  backface-visibility: hidden;
  position: absolute;
  right: 0;
  border-top: 2px solid #000;
  width: 100%;
  transition: 0.55s;
}
.menu-global2 {
  backface-visibility: hidden;
  position: fixed;
  right: 0;
  border-top: 2px solid #000;
  width: 100%;
  transition: 0.55s;
}
.menu-top {
  top: 0;
}
.menu-middle {
  top: 7px;
}
.menu-bottom {
  top: 14px;
}
.menu-top-click {
  backface-visibility: hidden;
  top: 15px;
  transform: rotate(50deg);
  transition: 0.55s 0.5s;
  border-top: 2px solid #000;
}
.menu-middle-click {
  opacity: 0;
}
.menu-bottom-click {
  backface-visibility: hidden;
  top: 15px;
  transform: rotate(-410deg);
  transition: 0.55s 0.5s;
  border-top: 2px solid #000;
}

.humberger{position:fixed;
			right: 0;
			padding:2vw;
			background-color: rgba(255,31,64,0.7);
			width:100%;
			height:100vh;
			z-index: 98;

			transition: transform .6s ease-in-out;
			-webkit-transition: transform .6s ease-in-out;

			transform: translateX(100%);
			-webkit-transform: translateX(100%);}

.produits-safran .humberger,
.produits .humberger,
.contactpage .humberger,
.contactpage2 .humberger{
	top:0;
}


.humberger.isOpen{transform: translateX(0%);
				  -webkit-transform: translateX(0%);}

.humberger #conteneurlien{position:absolute;
  						  top: 50%; left: 50%; /* à 50%/50% du parent référent */
  				          transform: translate(-50%, -50%);
  				          display:flex;
  				          flex-direction:column;}

.humberger #conteneurlien a{margin:3vw 0;
			                text-align: center;
			                color:#fff;
							font-family:'questrialregular', sans-serif;
							font-size:5vw;
							font-style:normal;}

#main-header nav{
	display:none;
}

#header-page,
#main-header{
	z-index:94;
}


#main-header figure{
	width:10%;
}

h1{
	font-size:6vw;
	line-height: 6.5vw;
}

h5,
h4, h4 a{
	font-size: 3vw;
}

p{
	font-size:4vw;
	line-height:5.5vw;
	width:70vw;
}

.pagination{
	margin-top: 85vh
}

#langue{
	bottom:30px;
}

#scroll{
	width:22%;
	left:42.5%;
	z-index:97;
}

#img-carrousel-home-1-1{
	top:300px;
	width:90%;
}

#img-carrousel-home-1-2{
	width:80%;
	top:-80px;
}

#texte-carrousel-home-1,
#texte-carrousel-home-2,
#texte-carrousel-home-3{
	left:8vw;
	margin-top:350px;
	z-index:99;
}

#texte-carrousel-home-4{
	left:8vw;
	margin-top:280px;
	z-index:99;
}

#img-carrousel-home-2-1{
	width:100%;
	margin-top: 500px;
	z-index:95;
}

#img-carrousel-home-3-1,
#img-carrousel-home-4-1{
	width:100%;
	margin-top:430px;
	z-index: 95;
}

#texte-carrousel-histoire-1,
#texte-carrousel-histoire-3{
	left:8vw;
	margin-top:280px;
}

#texte-carrousel-histoire-2,
#texte-carrousel-histoire-4-1{
	left:8vw;
	margin-top:250px;
}
#texte-carrousel-histoire-2-2,
#texte-carrousel-histoire-4-2{
	left:8vw;
	margin-top: 540px
}

#texte-carrousel-histoire-4-1,
#texte-carrousel-histoire-4-2
{
	font-size:3.5vw;
	line-height:4.3vw
}

.produits{
	background-size: 250%
}

.bouton{
	width:76vw;
	font-size: 4.5vw;
	border-radius:40px;
	margin-bottom:50px;
	margin-left: 5vw
}

.produits-safran #scroll{
	left:43%;
}

#texte-carrousel-safran-1, 
#texte-carrousel-safran-3{
	left:15vw;
	margin-top: 340px;
}

#texte-carrousel-safran-2-2{
	left:15vw;
	margin-top: 460px;
	background-color:rgba(0,0,0,.5);
	color:#fff;
	padding:15px;
}

#img-carrousel-safran-1{
	width:100%;
	left:0vw;
	background-size: cover;
}

#img-carrousel-safran-3{
	margin-top: 450px;
}



.aromeprd #nav-produit,
.safranprd #nav-produit{
	margin-top: 270px
}

.epicesprd nav{
	background-color:rgba(255,31,64,0);
}

.epicesprd .humberger.isOpen{
	background-color:rgba(255,31,64,0.7);
}

.epicesprd{
	background-size: 240%
}

#texte-carrousel-epices-1{
	margin-top:300px;
}


#main-header{
	position:absolute;
	width: 86vw
}

.epicesprd #main-header{
	top:0px;
}

.contactpage #main-header, .contactpage2 #main-header{
	top:40px;
}

#main-header figure{
	width:10%;
}

#fond-arome1, 
#fond-arome2, 
#fond-arome3, 
#fond-arome4, 
#fond-arome5, #fond-arome6, 
#fond-arome7, #fond-arome8, 
#fond-arome9, #fond-arome10, 
#fond-arome11, #fond-colorant1, 
#fond-colorant2, #fond-colorant3, #fond-colorant4, 
#fond-sucre1, #fond-sucre2, #fond-sucre3, 
#fond-sucre4, #fond-qualite1, #fond-qualite2, 
#fond-qualite3, #fond-qualite4, #fond-qualite5, 
#fond-engagement1, #fond-engagement2, #fond-engagement3, 
#fond-engagement4, #fond-engagement5{
	height:100vh;
}

#fond-arome1, #fond-arome2, 
#fond-arome3, #fond-arome4, 
#fond-arome5, #fond-arome6, 
#fond-arome7, #fond-arome8, #fond-arome9, 
#fond-arome10, #fond-arome11, #fond-colorant3, 
#fond-colorant2, #fond-colorant1, #fond-colorant4, 
#fond-sucre1, #fond-sucre2, #fond-sucre3, #fond-sucre4, 
#fond-qualite1, #fond-qualite2, #fond-qualite3, #fond-qualite4, 
#fond-qualite5, #fond-engagement5, #fond-engagement4, #fond-engagement3, 
#fond-engagement2, #fond-engagement1,#img-carrousel-safran-4, #img-carrousel-safran-2{
	margin-top: 0%
}

#fond-arome10,
#fond-colorant1,
#fond-colorant2,
#fond-colorant3,
#fond-qualite1,
#fond-qualite2,
#fond-qualite4,
#fond-qualite3,
#fond-qualite5,
#fond-engagement2{
	background-position:50% 50%;
}

#fond-colorant1,
#fond-qualite3,
#fond-engagement2{
	background-size:350%
}

#fond-arome3{
	background-position: 10% 50%;
}

#texte-carrousel-arome-3{
	background-color:rgba(0,0,0,.5);
	padding:15px
}

#texte-carrousel-arome-1,
#texte-carrousel-arome-2,
#texte-carrousel-arome-3,
#texte-carrousel-arome-4,
#texte-carrousel-arome-5,
#texte-carrousel-arome-8,
#texte-carrousel-arome-9,
#texte-carrousel-arome-10,
#texte-carrousel-colorant-1,
#texte-carrousel-colorant-2,
#texte-carrousel-colorant-3,
#texte-carrousel-sucre-1,
#texte-carrousel-sucre-2,
#texte-carrousel-sucre-3,
#texte-carrousel-qualité-1,
#texte-carrousel-qualite-3,
#texte-carrousel-qualité-4,
#texte-carrousel-engagement-1,
#texte-carrousel-engagement-2,
#texte-carrousel-engagement-3,
#texte-carrousel-engagement-4,
#texte-carrousel-engagement-5{
	left:15vw;
	margin-top:350px;
}

#texte-carrousel-qualité-2{
	margin-top:300px;
	left:15vw;
}

#texte-carrousel-arome-4,
#texte-carrousel-arome-6,
#texte-carrousel-arome-8,
#texte-carrousel-arome-9,
#texte-carrousel-arome-10,
#texte-carrousel-arome-1,
#texte-carrousel-colorant-1,
#texte-carrousel-colorant-2,
#texte-carrousel-sucre-3,
#texte-carrousel-qualité-1,
#texte-carrousel-qualité-2,
#texte-carrousel-engagement-2,
#texte-carrousel-engagement-3,
#texte-carrousel-engagement-4,
#texte-carrousel-engagement-1,
.contactpage2 #section-contact2{
	background-color:rgba(0,0,0,0.3);
	padding:15px;
	color:#fff;
}

#texte-carrousel-arome-7,
#texte-carrousel-arome-6{
	left:15vw;
	margin-top:290px;
}

.produits-safran .pagination{
	margin-top:92vh
}

.produits-safran #nav-produit{
	margin-top:330px
}

#contenu-conctact{
	flex-direction:column;
	margin-top:150px
}

.contactpage2 #contenu-conctact{
	margin-top: 150px
}

#section-contact1, #section-contact2{
	width:100%;
}

#section-contact1{
	margin-bottom: 50px;
}

#section-contact2 a, address{
	font-size:3.5vw;
	line-height:5vw;
}



.contactpage, .contactpage2{
	background-size: 265%;
	background-position: center center;
}

.contactpage2 #section-contact1{
	display:none; 
}

.ecocert{
	display:none;
}

#header-page{
	top:20vh;
}

}/*fin ipad portrait*/