/* mobile */

/* couleur :

#3573FE -> bleu électrique
#6E6E6E -> gris foncé
#CBCDD1 -> gris clair

 */

body,html{
	overflow-x:hidden;
}

@media (max-width: 720px){

.menu,.humberger{display:block;}

.menu {
  cursor: pointer;
  right:5vw;
  top:4.5vw;
  padding-left: 1.25em;
  position: fixed;
  z-index: 99999999999999;
  width: 3vw;
  height: 3vh;
}
.menu-global {
  backface-visibility: hidden;
  position: absolute;
  right: 0;
  border-top: 3px solid #71CAF4;
  width: 100%;
  transition: 0.55s;
}
.menu-global2 {
  backface-visibility: hidden;
  position: fixed;
  right: 0;
  border-top: 3px solid white;
  width: 100%;
  transition: 0.55s;
}
.menu-top {
  top: 0px;
}
.menu-middle {
  top: 7px;
}
.menu-bottom {
  top: 14px;
}
.menu-top-click {
  backface-visibility: hidden;
  top: 0vw;
  transform: rotate(50deg);
  transition: 0.55s 0.5s;
  border-top: 3px solid white;
}
.menu-middle-click {
  opacity: 0;
}
.menu-bottom-click {
  backface-visibility: hidden;
  top: 0vw;
  transform: rotate(-410deg);
  transition: 0.55s 0.5s;
  border-top: 3px solid white;
}

.humberger{position:fixed;
			right: 0;
			padding:2vw;
			background-color:#71CAF4;
			width:50%;
			height:100vh;
			z-index: 999999999;

			transition: transform .6s ease-in-out;
			-webkit-transition: transform .6s ease-in-out;

			transform: translateX(100%);
			-webkit-transform: translateX(100%);}

.humberger.isOpen{transform: translateX(0%);
				  -webkit-transform: translateX(0%);}

.humberger #conteneurlien{position:absolute;
  						  top: 50%; left: 50%; /* à 50%/50% du parent référent */
  				          transform: translate(-50%, -50%);
  				          display:flex;
  				          flex-direction:column;}

.humberger #conteneurlien a{margin:2vw 0;
			                text-align: center;
			                color:#fff;
							font-family: "Outfit",helvetica,sans-serif;
							font-weight: 400;
							font-size:6vw;}

/* -------------------------------- ------------- ------------------------------------  */
/* -------------------------------- ------------- ------------------------------------  */
/* -------------------------------- ------------- ------------------------------------  */
#accueil-tache1 {
    width: 61vw;
    right: 15vw;
    top: -40vw;
}


h1 {
    font-size: 8vw;
    line-height: 11vw;
    text-align: center;
}

header nav a, p, h2, h3, address {
    font-size: 4.6vw;
    line-height: 6.6vw;
}

#accueil,#prestations, #portfolio, .galerie-portfolio, #apropos div, #top-footer, .two-column, .three-column{
	flex-direction: column;
}

header{
	    margin: 3.5vw 10vw;
}

header figure{
	width:7vw;
	margin-top: 2px;
}

header nav{
	display: none;
}

#accueil, #prestations, .one-column, .two-column, .three-column {
    margin: 0px 5vw;
}

#accueil{
	height: 180vw;
}

#accueil-centre {
    width: auto;
    height: auto;
    margin: 0px 0px;
}

#accueil-centre h1{
	font-size:14.5vw;
	line-height: 15vw;
}

.accueil-txt-nom{
	font-size: 5vw;
    line-height: 6vw;
}
.accueil-txt-ux {
    font-size: 8vw;
    line-height: 9.5vw;
}

#accueil-jauge, #accueil-ecran {
    width: 10vw;
}

#accueil-jauge {
    margin-left: 26vw;
}

#accueil-souligne {
    width: 16vw;
    margin-left: 65vw;
}
#accueil-fleche {
    width: 34vw;
    margin-left: 23vw;
    margin-top: -13vw;
}

#accueil-tache2 {
    width: 69vw;
    left: -27vw;
    top: 126vw;
}

#accueil #bouton {
    margin-left: 14vw;
    bottom: 40vw;
}

#bouton{
	margin-top:20px;
	background-color: #71CAF4;
	width: 70%;
    margin-left: 15%!important;
}

#prestations{
	padding: 75px 0vw 0px;
}

.txt-presta, .txt-presta2 {
    font-size: 5vw;
    line-height: 6.7vw;
    padding: 0px 7vw;
}

#illu-presta1, #illu-presta2{
	width:14vw;
}

#illu-presta1{
	margin-bottom: 133vw;
	margin-left: 0vw;
}

#illu-presta2{
	margin-top: 133vw;
	margin-left: 75vw;
}

#prestations div{
	width:100%;
	margin-bottom: 50px;
}

#portfolio {
    padding: 120px 0vw 0px;
    margin-bottom:-2px;
}

#accueil-tache3,#accueil-tache4{
	display: none;
}

.galerie-portfolio li div{
	display: none;
}

.galerie-portfolio li{
	margin-top: -3px;
}

#apropos p,#apropos h2{
	width: 100%;
	margin-bottom: 20px;
}


header nav a, footer nav a{
	margin-top: 20px;
}

#bottom-footer{
	line-height: 6vw;
}

footer figure{
	display: none;
}

#header-projet{
	position: relative;
}

#photo-entete div {
    transform: translateY(0);
}

#photo-entete {
    height: auto;
    padding: 25vw 0vw;
}

.one-column figure, .two-column figure, .three-column figure{
	margin-bottom:50px;
}

.one-column, .two-column, .three-column{
	padding-bottom:0px;
}

.phone-photo,.tab-photo,.tab-photo2,.phone-photo2,.tab-photo3{
	width: 100%;
}

.one-column p{
	margin:0px 0px 100px;
}

.one-column #bouton{
	margin:25px 0px 75px!important;
	width: 100%;
}

#apropos div p{
	width: 100%;
}

.two-bouton #bouton{
	margin-top: 10px!important;
    width: 70%;
    margin-left: 15%!important;
}

.two-bouton{
	justify-content: space-between;
	margin-bottom:30px!important;
}

iframe{
	width:100%;
	height: 50vw;
}

.img-recherche{
	text-align: center;
	padding: 0vw 0vw px;
}

}