/* tablette paysage */
@media (max-width: 1024px) {

	header nav a,p, h2, h3, address{
		font-size: 1.5vw;
		line-height: 2.3vw;
	}

	header{margin: 25px 10vw;
			width:80vw}


	#social-media{display:none}

	#header-projet{
		padding: 15px 10vw;
	}

	#accueil, #prestations, .one-column, .two-column, .three-column{
		margin: 0px 7vw;
	}


	#prestations{
		margin: 0px 15vw;
	}

	#bouton{
		width:22vw;
		margin-left:3.5vw;
	}

	#apropos p{
		width: 48.5%;
	}

	.one-column #bouton {
    margin-left: 33.5vw;
}

#accueil-tache1{
	width: 30vw;
	right:-15vw;
	top:15vw;
}

#accueil-tache2{
	width: 60vw;
	left:-25vw;
	top:45vw;
}

#accueil-tache3{
	width: 25vw;
	right:-18vw;
	top: 163vw;
}
#accueil-tache4{
	width: 20vw;
	left:-10vw;
	top: 135vw;
}

#accueil #bouton {
    margin-left: 14vw;
    bottom: 10vw;
}

#illu-presta1{
	margin-bottom: 35vw;
}

#illu-presta2{
	margin-top: 35vw;
}

}

