
/* --------------------------------------- fin du RESET ------------------------------------- */

@media screen and (max-width:2560px) {
/* iMac 27" paysage = 2560px */

.menu,
.humberger{
	display:none;
}

h1,h2,p{
	color:#161616;
}

h1{
	font-size:4.5vw;
	font-family:'old_standard_ttbold',times,serif;
}

h2{	
	font-size:3vw;
	font-family:'old_standard_ttitalic',times,serif;
	color:#fff;
}

h3{
	font-size:1.5vw;
	font-family:'old_standard_ttitalic',times,serif;
	text-align: center;
	color:#fff;
	margin-top:1vw
}

p,a{
	font-size:1.25vw;
	font-family:'questrialregular',helvetica,sans-serif;
	line-height:1.8vw;
}

a,a:visited{
	position: relative;
	height:1.8vw;
	color:#fff;
	cursor:pointer;
}


address{
	color:#fff;
	font-size:1.25vw;
	font-family:'questrialregular',helvetica,sans-serif;
	line-height:1.8vw;
}

.active,.active:visited{
	color:#F28C25;
	transition:.5s
}

.active:hover{
	color:#fff;
}

.button{
	width:90%;
	margin:5vw 5% 1.5vw 5%;
	padding:1vw 0vw;
	text-align: center;
	font-family:'questrialregular',helvetica,sans-serif;
	color:#fff;
	font-size:1.2vw;
	letter-spacing: 0.03vw;
	border-radius:5px;
	z-index: 1;
  	position: relative;
  	outline: none;
  	border: none;
  	overflow: hidden;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff8e14+0,ff3c7a+100 */
	background: #ff8e14; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #ff8e14 0%, #ff3c7a 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #ff8e14 0%,#ff3c7a 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #ff8e14 0%,#ff3c7a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8e14', endColorstr='#ff3c7a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.button:hover {
  cursor: pointer;
  animation: jelly 0.5s;
}

@keyframes jelly {
  0%,
  100% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}

#accueil{
	height:100vh;
	background:url('../images/fond-accueil.jpg') center 0 no-repeat fixed;
}

#accueil-about header,
#accueil header{
	width:100%;
	padding: 3vw 5vw 0vw 5vw; 
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#accueil header a::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #fff;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

#accueil header a:hover::before {
  transform-origin: bottom left;
  transform: scaleX(1);
}

#accueil header a:nth-child(1):hover{
	color:#ff8e14;
}

#accueil header a:nth-child(1)::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: rgba(0);
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

#accueil-about header #logohome,
#accueil header figure{
	width:5%;
}

#nav-header-pages,
#nav-header{
	width:35%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#content-accueil{
	width:26%;
	margin:8vw 37vw 0vw 37vw;
}

#content-accueil figure{
	width:85%;
	margin-left:7.5%
}

#content-accueil p{
	color:#fff;
	text-align:center;
}

#nav-langue{
	position:absolute;
	bottom:4vw;
	left:5vw;
	width:5vw;
	display:flex;
	flex-direction:row;
	justify-content: space-between;
}

.langue{
	font-family:'old_standard_ttitalic',times,serif;
	font-size:1.5vw;
	line-height:3vw;
	color:#fff;
}

#langue-active{
	color:#ff8e14;
}

#about-home{
	padding:12vw 5vw;
	display:flex;
	flex-direction: row;
	justify-content:space-between;
}

#text-about-home{
	width:40%;
}

.barre-deco{
	width:35%;
	height:.65vw;
	margin:3vw 5vw 3vw;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff8e14+0,ff3c7a+100 */
	background: #ff8e14; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #ff8e14 0%, #ff3c7a 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #ff8e14 0%,#ff3c7a 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #ff8e14 0%,#ff3c7a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8e14', endColorstr='#ff3c7a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#text-about-home p{
	margin-left:5vw;
}

#text-about-home .button{
	margin-left:5vw;
	width:85%;
}

#about-home .illustration{
	width:35%;
	margin-right:5%;
	margin-top:2vw
}

#prestations{
	padding:5vw 5vw;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff8e14+0,ff3c7a+100 */
	background: #ff8e14; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #ff8e14 0%, #ff3c7a 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #ff8e14 0%,#ff3c7a 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #ff8e14 0%,#ff3c7a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8e14', endColorstr='#ff3c7a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#prestations h1,
#prestations p{
	color:#fff;
	text-align:center;
}

#prestations ul{
	width:100%;
	padding:8vw 5vw;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	text-align: center
}

#prestations ul li{
	width:25vw;
}

#prestations ul h2{
	margin-top:2vw;
}

#contacts{
	background-color: #232323;
	padding:7vw 5vw;
	display: flex;
	flex-direction:row;
	justify-content: space-between;
}

#text-contacts{
	width:40%;
}

#text-contacts address{
	margin-left:5vw;
}

#text-contacts h1{
 	color:#fff;
 }

.contact-mention{
	font-family:'old_standard_ttitalic',times,serif;
	font-size:1.7vw;
}

#contacts iframe{
	width:45%;
	height:25vw;
}

footer{
	background-color:#161616;
	padding:3vw;
	text-align:center;
}

footer p,footer a,
footer a:visited{
	color:#fff;
}

/* ---------------------------------------- Page About ---------------------------------------- */
/* ---------------------------------------- Page About ---------------------------------------- */
/* ---------------------------------------- Page About ---------------------------------------- */



#content-accueil-about{
	padding:12vw 5vw;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#content-about2,
#content-accueil-about figure{
	width:40%;
	margin-right:5%;
}

#text-accueil-about{
	width:40%;
	margin-top: 5vw
}

#text-accueil-about p{
	margin-left:5vw
}

#about2{
	display:flex;
	flex-direction:row;
	justify-content: space-between;
	padding:12vw 5vw;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff8e14+0,ff3c7a+100 */
	background: #ff8e14; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #ff8e14 0%, #ff3c7a 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #ff8e14 0%,#ff3c7a 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #ff8e14 0%,#ff3c7a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8e14', endColorstr='#ff3c7a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#about2 figure{
	width:40%;
	margin-left:5%
}

#content-about2 p{
	color:#fff;
	margin-top:7.5vw;
}

#about3{
	display:flex;
	flex-direction:row;
	justify-content: space-between;
	padding:8vw 5vw;
}

#content-about3{
	width:40%;
	margin-left:5%;
	margin-top:9vw
}
#about3 figure{
	width:35%;
	margin-right:5%
}

#nav-header-pages a{
	color:#ff8e14;
}

#nav-header-pages a::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #ff8e14;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

#nav-header-pages a:hover::before {
  transform-origin: bottom left;
  transform: scaleX(1);
}

#nav-header-pages a:nth-child(2):hover{
	color:#ff8e14;
}

#nav-header-pages a:nth-child(2)::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #ff8e14;
  transform-origin: bottom right;
  transform: scaleX(1);
  transition: transform 0.5s ease;
}

}/*fin destock*/

@media screen and (max-width:1920px) {
/* iMac 21.5" Paysage = 1920px */
}/*fin iMac 21.5*/

