@font-face {
    font-family: 'gilroyextrabold';
    src: url('radomir_tinkov_-_gilroy-extrabold-webfont.eot');
    src: url('radomir_tinkov_-_gilroy-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('radomir_tinkov_-_gilroy-extrabold-webfont.woff2') format('woff2'),
         url('radomir_tinkov_-_gilroy-extrabold-webfont.woff') format('woff'),
         url('radomir_tinkov_-_gilroy-extrabold-webfont.svg#gilroyextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gilroylight';
    src: url('radomir_tinkov_-_gilroy-light-webfont.eot');
    src: url('radomir_tinkov_-_gilroy-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('radomir_tinkov_-_gilroy-light-webfont.woff2') format('woff2'),
         url('radomir_tinkov_-_gilroy-light-webfont.woff') format('woff'),
         url('radomir_tinkov_-_gilroy-light-webfont.svg#gilroylight') format('svg');
    font-weight: normal;
    font-style: normal;

}