@media screen and (max-width:375px) {
/* Mobiles portrait */
/* iPhone6+ portrait = 540px */
/* iPhone6 portrait = 375px */
/* iPhone4 & iPhone5 portrait = 320px */
#imghome1 {display:block;}

#boutonvoirsite{width:100%;
				padding:2.5vw 5vw;}

.prestationabout{padding-top:70vw;}

p, address, footer p, footer a, cite, blockquote, .boutonprojet, #boutonhome, p {
    font-size: 5vw;
    line-height: 6.4vw;
}
}/*fin media phone*/