@media screen and (max-width:667px) {
/* Mobiles paysage */
/* iPhone6+ paysage = 960px */
/* iPhone6 paysage = 667px */
/* iPhone5s paysage = 568px */
/* iPhone4 paysage = 468 px */

#cooming-soon{
	padding-top:29vh
}

#cooming-soon p{
	width:90%;
	margin-left:5%
}

.menu,.humberger{display:block;}

.menu {
  cursor: pointer;
  right:5vw;
  top:9vw;
  padding-left: 1.25em;
  position: fixed;
  z-index:99;
  width: 3vw;
  height: 3vh;
}
.menu-global {
  backface-visibility: hidden;
  position: absolute;
  right: 0;
  border-top: 2px solid #2468FF;
  width: 100%;
  transition: 0.55s;
}
.menu-global2 {
  backface-visibility: hidden;
  position: fixed;
  right: 0;
  border-top: 2px solid white;
  width: 100%;
  transition: 0.55s;
}
.menu-top {
  top: 0;
}
.menu-middle {
  top: 7px;
}
.menu-bottom {
  top: 14px;
}
.menu-top-click {
  backface-visibility: hidden;
  top: 15px;
  transform: rotate(50deg);
  transition: 0.55s 0.5s;
  border-top: 2px solid white;
}
.menu-middle-click {
  opacity: 0;
}
.menu-bottom-click {
  backface-visibility: hidden;
  top: 15px;
  transform: rotate(-410deg);
  transition: 0.55s 0.5s;
  border-top: 2px solid white;
}

.humberger{position:fixed;
			right: 0;
			padding:2vw;
			background-color:#3A3A3A;
			width:100%;
			height:100vh;
			z-index: 95;

			transition: transform .6s ease-in-out;
			-webkit-transition: transform .6s ease-in-out;

			transform: translateX(100%);
			-webkit-transform: translateX(100%);}

.humberger.isOpen{transform: translateX(0%);
				  -webkit-transform: translateX(0%);}

.humberger #conteneurlien{position:absolute;
  						  top: 50%; left: 50%; /* à 50%/50% du parent référent */
  				          transform: translate(-50%, -50%);
  				          display:flex;
  				          flex-direction:column;}

.humberger #conteneurlien a{margin:3vw 0;
			                text-align: center;
			                color:#fff;
							font-family:'gilroyextrabold', sans-serif;
							font-size:5vw;
							font-style:normal;}

h1{
	font-size:12vw;
	line-height:13vw
}

h2{
	font-size:10vw;
	line-height:11vw
}

h3{
	font-size:7vw;
	line-height:8vw
}

p, .projet p{
	font-size: 5vw;
	line-height:7.5vw
}

address{
	font-size:4vw
}

header #logo{
	display:flex;
	flex-wrap:nowrap;
	flex-direction:row;
	justify-content: space-between;
	width:32%;
}

#logo figure{
	width:40%;
}


figcaption{
	display:block;
	margin-top: 1.5vw;
	margin-left:2vw;
	font-family:'gilroylight';
	font-size:3.5vw;
	line-height:3.9vw
}

header{
	padding:2vw 0vw 5vw 0vw
}

header nav{
	display:none;
}



button{
	font-size:4vw;
	width:45vw
}

#intro{
	margin-top:17vw
}

#titre, 
#texte-intro, 
#texte-intro-about, 
#texte-apropos{
	width:100%;
}

#texte-intro, #texte-apropos{
	margin: 8vw 0vw 0vw 0%;
}

#texte-intro button, 
#texte-apropos button, 
#texte-intro-about button{
	margin-top:8vw;
}

#barre-bleu-intro{
	width:37%;
	margin-top:8vw;
}

#barre-bleu-intro-about, 
#barre-bleu-intro,
.barre-projet,
#barre-entete{
	height:1.25vw
}

.projet{
	padding: 51vw 6vw 8vw 6vw;
	margin-bottom:30vw
}

.projet1{
	margin-top:30vw
}

.projet1 .text-projet, 
.projet3 .text-projet{
	margin-left:0vw;
}

.projet1 figure{
	left:25%;
    margin-top: -67.9vw;
    width: 69%;
}

.projet2 figure{
	left:10%;
    margin-top: -66.9vw;
    width: 69%;
}

.projet3 figure{
	left:10%;
    margin-top: -63vw;
    width: 80%;
}

.text-projet{
	width:100%
}

.projet h1,
.projet .num-prj,
.projet .barre-projet,
#barre-entete, 
.en-tete h1{
	margin-bottom:7vw
}

.num-prj{
	font-size:7vw
}

.projet p{
	margin-bottom:6vw
}

.motif-grand{
	width:40%;
}

.motif-petit{
	width:25%;
}

.motif-moyen{
	width:32%
}

.motif-projet1{
	margin-top: 3vw;
    left: 55.5vw;
}

.motif-projet2{
	margin-top: 60vw;
    left: 5.5vw;

}

.motif-projet3{
	margin-top: 60vw;
    left: 63.5vw;
}

.motif-projet4{
	margin-top: -6vw;
    left: 30vw;
}

.motif-projet5{
	margin-top: -4vw;
    left: 5vw;
}

.motif-projet6{
	margin-top: 87vw;
    left: 45vw;
}

#contacts{
	margin-top:15vw;
	flex-direction:column;
	padding-top:12vw;
	padding-bottom:6vw
}

#text-contact h1{
	font-size:11vw;
}

#text-contact{
	width:100%;
	width: 90%;
    margin-left: 5%;
}

#text-contact h1, #text-contact p{
	margin-bottom:6vw
}

#nav-contact{
	margin-left:5%;
	margin-top: 6vw
}

#nav-contact2 br:nth-child(2),
#nav-contact1 br:nth-child(2){
	display:none
}

#nav-contact1 div, #nav-contact2 div{
	margin-bottom:5vw: 
}

#nav-contact1 div, #nav-contact2 div,
#nav-contact1 a, #nav-contact2 a{
	font-size:4vw;
	line-height:6.5vw
}

#nav-contact2{
margin-left:6vw
}

footer{
	padding:7vw 10vw
}

footer p{
	font-size:3.5vw;
	line-height:5vw;
	text-align:left
}

/* --------------------------------------- page about ---------------------------------------- */

#intro-about{
	margin-top:17vw
}

#aside-about{
	display:none
}

#entete-presentation-about, 
#entete-explication-about, 
#texte-pres-about, 
#intro-about{
	flex-direction:column;
}

#entete-presentation-about h1, 
#texte-pres-about aside, 
#entete-explication-about h1, 
#intro-about #titre-about{
	width:100%;
	text-align:left;
}

#entete-presentation-about h2, 
#texte-pres-about div, 
#texte-exp-about, 
#entete-explication-about h2, 
#intro-about #texte-intro-about{
	width:100%
}

#barre-bleu-intro-about{
	width: 35%;
    margin: 7vw 0vw;
}

#entete-presentation-about h2,
#entete-explication-about h2{
	margin-top:6vw;
	margin-bottom:5vw
}

#texte-exp-about{
	margin:3vw 0vw 0vw 0vw
}

/* --------------------------------------- page blog ---------------------------------------- */

#wrapper-blog ul{
	margin-top:17vw
}

#wrapper-blog li{
	width:100%;
	margin-bottom: 10vw;
}

#text-li-blog{
	padding:6vw;
}

#date-article-li{
	font-size:4vw;
	margin:7vw 0vw 5vw 0vw;
}

#text-li-blog button{
	margin:6vw 0vw 0vw 0vw 
}

#source a{
	line-height:8vw;
}

#bouton-retour-blog button{
	margin-left:22.5vw;
	margin-top:9vw
}

/* --------------------------------------- page projet ---------------------------------------- */

#intro h3{
	line-height:4vw
}
 
#entre-prj1, 
#entre-projet2, 
.sous-entre-prj-petite, 
.sous-entre-prj-grande{
	margin-bottom:13vw
}

#entre-prj2{
	flex-direction:column;
}

#entre-prj2 :nth-child(1){
	order:2;
}
#entre-prj2 :nth-child(2){
	order:1;
}
#entre-prj2 :nth-child(3){
	order:3;
}
#entre-prj2 :nth-child(4){
	order:4;
}

.sous-entre-prj-petite,
.sous-entre-prj-moyene{
	width:100%;
}

.sous-entre-prj-moyene{
	margin-bottom:10vw
}

cite{
	font-size:5vw
}

.trois-img-prj{
	flex-direction:column;
}

.trois-img-prj figure{
	width:30%;
}

.img-trois-img1{
	order:1;
}

.img-trois-img2{
	order:2;
}

.img-trois-img3{
	order:3;
}

.trois-img-prj figure:nth-child(2),
.trois-img-prj figure:nth-child(3){
	margin-top:0vw
}

.trois-img-prj figure:nth-child(1),
.trois-img-prj figure:nth-child(2),
.trois-img-prj figure:nth-child(3){
	width:70%;
	margin-left:15%;
	margin-bottom:10vw
}


}/* fin media phone paysage*/
