@media screen and (max-width:1920px) {
/* iMac 21.5" Paysage = 1920px */

}/*fin iMac 21.5*/

@media screen and (max-width:1024px) {
/* iPad portrait & landscape */

	h1{font-size: 6vw;}

	h4{font-size: 2vw;
	   line-height:2.9vw;}

	p{font-size: 2vw;
	  line-height:2.9vw;}

	figcaption{font-size:1.5vw;
	           line-height:2.3vw;}

	a{font-size: 2vw;
	  line-height:2.9vw;}

	address{font-size: 2vw;
	  line-height:2.9vw;}

	#texteasideprj1 p {font-size:1.5vw;
	    				line-height: 2.3vw;}

	#texteasideprj2 p {font-size:1.5vw;
	    				line-height: 2.3vw;}

	#texteasideprj3 p {font-size:1.5vw;
	    				line-height: 2.3vw;}

	#navheader {width:40%;}

	.entete{width:100%;}

	#accueil{padding-top:25vh;
	         padding-left:30vw;
	         padding-bottom: 8vh;}

	#fildarianne{display: none;}

	#apropos{width:100%;
	     height:70vh;
         padding-left: 18vw;
         padding-right: 18vw;
         margin-bottom: 8vh;
         display:flex;
         flex-direction:column;
         justify-content:center;}

    #projet1,#projet2,#projet3{padding-bottom:8vh; }

    #titreasideprj1{width:90%;
                    margin-left:-28vw;}

    #titreasideprj3{margin-left:-8.5vw;}

    #navfooter{width:15%;
               margin-top:9.85vw;
               margin-left:85%;}

    #contact{    width: 100%;
    		padding-left: 18vw;
    		padding-right: 18vw;
    		margin-bottom: 8vh;}

    #textecontact{width:100%;}

    #mentions{font-size:1.5vw;
	    	  line-height: 2.3vw;}

	em{font-size:1.5vw;
	    	  line-height: 2.3vw;}

	footer{width: 100%;
    		padding-left: 18vw;
    		padding-right: 18vw;
    	    margin-bottom:4vw;}


}/*ipad landscape fin*/