@media screen and (max-width:1024px) {
/* iPad portrait & landscape */

h1{
	font-size: 4vw;
	line-height:4.4vw;
}

h2{
	font-size:3vw;
	line-height: 3.7vw
}

h3{
    font-size: 2vw;
}

p{
	font-size: 2vw;
    line-height: 3vw;
}

address{
	font-size: 2vw;
    line-height: 2vw;
}

cite{
	font-size:2vw
}

button{
	font-size: 1.5vw;
	width:25vw;
	padding: 1vw .5vw;
}

header nav{
	width:40%;
	font-size:1.5vw;
	line-height:1.5vw
}

header #logo{
	width:5%;
}

#header-left-fixed{
 	width: 3%;
}

#nav-socialmedia{
	height: 13vw;
}

#barre-bleu-intro-about, #barre-bleu-intro{
	height: .75vw
}

#intro h3{
	line-height:1vw
}

#intro, 
#portfolio, 
#apropos, 
#entete-presentation-about, 
#texte-pres-about, 
#explication-about, 
#intro-about, 
#wrapper-blog ul, 
#source, 
article, 
#projet-page{
	width: 80%;
    margin-left: 10%;
}

#texte-intro{
	width:50%;
	margin: -2.1vw 0vw 0vw 50%;
}

#barre-bleu-intro{
	margin: 2vw 0vw 0vw 40%;
    width: 55%;
}

#texte-intro button, 
#texte-apropos button, 
#texte-intro-about button{
	margin-top:2.5vw;
}

.projet h1, 
.projet .num-prj, 
.projet .barre-projet, 
#barre-entete, 
.en-tete h1{
	margin-bottom: 2.5vw;
}

#titre, 
#texte-intro, 
#texte-intro-about, 
#texte-apropos{
	width:50%;
}

.text-projet{
	width:50%;
}

.num-prj{
	font-size: 3vw;
}

.projet p{
	font-size: 2vw;
    line-height: 2.9vw;
}

.barre-projet{
	height:.75vw
}

#texte-apropos{
	margin:-4.5vw 0vw 0vw 50%
}

#barre-entete{
	height:.75vw;
}

#nav-contact{
	    margin-right: 9%;
}

#nav-contact1{
	    margin-right: 4vw;
}

#nav-contact1 div, 
#nav-contact2 div, 
footer p{
	font-size: 2vw;
}

#nav-contact1 a, #nav-contact2 a{
	font-size: 2vw;
}

footer p br{
	display: none;
}

#wrapper-blog li{
	width:33vw;
}

#text-li-blog button{
	margin-left:2vw
}

#bouton-retour-blog button{
	margin-left:32.5vw
}

.projet1 figure{
	margin-top:-2.25vw
}

.projet2 figure{
	width: 36%;
	left:58%;
	margin-top:0vw
}

.projet3 figure{
	margin-top:2.5vw;
	left:4.5vw;
}

.projet1 .text-projet, 
.projet3 .text-projet{
	margin-left:53%
}

;}/*ipad landscape fin*/