@media screen and (max-width:768px) {
/* iPad portrait */
h1{
	font-size: 5vw;
    line-height: 5.4vw;
}

h2{
	font-size: 4vw;
    line-height: 4.3vw;
}

h3{
	font-size:2.5vw;
	line-height:3.2vw
}

p,
.projet p{
	font-size:2.5vw;
	line-height:3.7vw
}

button{
	font-size:1.9vw;
	padding: 1.5vw .5vw;

}

#wrapper, #wrapper-blog{
	padding:5vw;
}

#intro,
#portfolio,
#apropos,
#entete-presentation-about,
#texte-pres-about,
#explication-about,
#intro-about,
#wrapper-blog ul,
#source,
article,
#projet-page{
	width:90%;
	margin-left:5%;
}
 
#texte-intro, 
#texte-apropos{
	width:70%;
	margin:-2.1vw 0vw 0vw 30%;
}

#barre-bleu-intro{
	margin:4vw 0vw 0vw 0%;
}

#header-left-fixed{
	display:none
}

#barre-entete{
	margin-left:0vw
}

header nav{
	font-size:2vw;
	width:50vw;
	padding-top:1.5vw
}

#text-contact{
	margin:0% 0% 0% 5%;
	width:47.5%;
}

#wrapper-blog li{
	width:38vw;
}

#text-li-blog button{
	margin-left: 4.5vw
}

#entete-li-blog{
	flex-direction: column;
}

#date-article-li{
	font-size:2vw;
	margin-top:1.5vw;
}

footer p{
	line-height:3.1vw
}

}/*fin ipad portrait*/