
/* --------------------------------------- fin du RESET ------------------------------------- */

@media screen and (max-width:2560px) {
/* iMac 27" paysage = 2560px */

.menu,.humberger{display:none;}

#content{
	margin:40px 7vw;
}

a:visited{
	color:#000;
}

a{
	color:#000;
}

h1{
	font-family: 'penultimatelightregular',helvetica, sans-serif;
	color:#000;
	font-size:4vw;
}

p{
	font-family:'questrialregular',helvetica,sans-serif;
	font-size: 1.5vw;
	line-height:2.2vw;
	width:37vw;
}

h4,
h4 a{
	font-family: 'penultimatelightregular',helvetica, sans-serif;
	color:#000;
	font-size:2vw;
}

h4 a{
	transition:.5s;
}

h4 a:hover{
	color:#FF485A;
}

h5{
	font-family: 'questrialregular',helvetica, sans-serif;
	color:#000;
	font-size:2vw;
}

span{
	color:#FF485A;
}

.pagination{
	position:absolute;
	z-index: 9999;
	width:5%;
	margin-top:80.9vh;
	right:0;
}

.produits-safran #scroll{
	left:45%;
}

.produits-safran .pagination{
	right:6vw;
}

#langue{
	position:absolute;
	z-index: 99;
	width:5%;
	bottom:30px;
}

#scroll{
	position:absolute;
	z-index:9999;
	width:5%;
	top:78vh;
	left:42.5%;
	animation: scroll 2s infinite ease-in-out;
}

@keyframes scroll{
 0% {
    opacity:0;
  }

 50% {
    opacity:.9;
  }

 100%{
 	opacity:0;
 } 
}

#main-header{
	display:flex;
	flex-direction:row;
	justify-content: space-between;
	z-index: 99;
	position:relative;
}

#main-header figure{
	width:5%;
}

#main-header nav{
	width:55%;
	margin-top:15px;
	display:flex;
	flex-direction: row;
	justify-content: space-between;
}

#main-header nav a{
	font-family:'penultimatelightregular',helvetica, sans-serif;
	color:000;
	transition:0.2s;
}

#main-header nav h3{
	font-family:'penultimatelightregular',helvetica, sans-serif;
	color:#FF485A;
}

#main-header nav a:hover{
	color:#FF485A;
}

#header-page{
	position:fixed;
	top:20vh;
	z-index: 99
}

#wrapper{
	z-index:1;
}

/* -------------------------------- accueil ----------------------------- */

#img-carrousel-home-1-1,
#img-carrousel-home-1-2,
#texte-carrousel-home-1,
#img-carrousel-home-2-1,
#texte-carrousel-home-2,
#img-carrousel-home-3-1,
#texte-carrousel-home-3,
#img-carrousel-home-4-1,
#texte-carrousel-home-4{
	position:absolute;
}

#img-carrousel-home-1-1{
	z-index: 2;
	width:50%;
	top:100px;
	left:-15vw;
}

#img-carrousel-home-1-2{
	z-index: 2;
	right:-1vw;
	top:-100px;
}

#texte-carrousel-home-1{
	z-index: 3;
	margin-top:480px;
	left:50%;
}

#img-carrousel-home-2-1{
	z-index:2;
	width:60vw;
	margin-top:300px;
}

#texte-carrousel-home-2{
	margin-top:305px;
	z-index: 3;
	left:50vw;
}

#img-carrousel-home-3-1{
	z-index:2;
	width:67vw;
}

#texte-carrousel-home-3{
	margin-top:555px;
	z-index: 3;
	left:43vw;
}

#img-carrousel-home-4-1{
	z-index:2;
	margin-top:70px;
	right:-5vw;
	width:67vw;
}

#texte-carrousel-home-4{
	margin-top:225px;
	z-index: 3;
	left:0vw;
}

/* -------------------------------- histoire ----------------------------- */

.histoire{
	background-image:url('../images/histoire/fond-histoire.jpg');
	background-size:130%;
}

.histoire h1,
.histoire a,
.histoire p{
	color:#fff;
}

#texte-carrousel-histoire-1,
#texte-carrousel-histoire-2,
#texte-carrousel-histoire-2-2,
#texte-carrousel-histoire-3,
#texte-carrousel-histoire-4-1,
#texte-carrousel-histoire-4-2{
	position: absolute;
}

#texte-carrousel-histoire-1,
#texte-carrousel-histoire-2,
#texte-carrousel-histoire-2-2,
#texte-carrousel-histoire-3,
#texte-carrousel-histoire-4-1,
#texte-carrousel-histoire-4-2{
	margin-top:325px;
}

#texte-carrousel-histoire-2-2,
#texte-carrousel-histoire-3,
#texte-carrousel-histoire-4-2{
	left:43vw;
}

/* -------------------------------- produits ----------------------------- */

.fond-sucre{
	background-image:url('../images/produits/sucre3.jpg');	
}

.fond-sucre p{
background-color:rgba(0,0,0,0.2);
	color:#fff;
	padding:5px 15px;
}

.fond-sucre .menu-global{
	border-top: 2px solid #fff;
}

.produits{
	background-image:url('../images/produits/produits.jpg');
	background-size:130%;
}

#nav-produit{
	position:absolute;
	margin-top:150px;
}

.bouton{
	width:25vw;
	border:solid 2px #FF485A;
	padding:20px 0px;
	text-align:center;
	color:#FF485A;
	font-family:'questrialregular',helvetica,sans-serif;
	font-size:1.5vw;
	transition:.4s;
	margin-bottom:20px;
	border-radius:30px;
}

.bouton:hover{
	color:#000;
	border:solid 2px #000;
}

.produits-safran #content{
	margin:0;
}

.produits-safran #main-header{
	margin:40px 7vw 0vw 7vw
}

.produits-safran .section{
	padding-left:7vw;
	padding-right:7vw;
}

.produits-safran #header-page{
	margin-left:7vw;
}

#img-carrousel-safran-1,
#img-carrousel-safran-2,
#texte-carrousel-safran-2-2,
#texte-carrousel-safran-1,
#texte-carrousel-safran-3,
#img-carrousel-safran-3,
#img-carrousel-safran-4{
	position:absolute;
}

#texte-carrousel-safran-1,
#texte-carrousel-safran-3{
	margin-top: 200px;
}

#img-carrousel-safran-1{
	background-image:url('../images/s2.png');
	background-size:100%;
	margin-top:-11.9vh;
	width:100vw;
	height:100vh;
	left:0;
}

#img-carrousel-safran-2{
	background-image:url('../images/produits/safranlab.png');
	margin-top:-11.9vh;
	width:100vw;
	height:100vh;
	left:0;
}

#texte-carrousel-safran-2-2{
	margin-top: 200px
}

#texte-carrousel-safran-3{
	z-index: 3;
}

#img-carrousel-safran-3{
	z-index:2;
}

.safranprd #nav-produit{
	margin-top:225px
}

#img-carrousel-safran-4{
	background-image:url('../images/produits/produits.jpg');
	margin-top:-11.9vh;
	width:100vw;
	height:100vh;
	left:0;
}

.epicesprd{
	background:url('../images/produits/epice.gif');
	background-repeat:no-repeat;
}

.epicesprd div.section-one p,
.epicesprd #header-page h1{
	background-color:rgba(0,0,0,0.2);
	color:#fff;
	padding:5px 15px;
}

.epicesprd .section-one{
 padding-top:12vw;
 height:100vh
}

.epicesprd nav{
	background-color:rgba(0,0,0,0.2);
	color:#fff;
	padding:10px 15px;
}

.epicesprd nav a{
	color:#fff;
}

#fond-arome1,
#fond-arome2,
#fond-arome3,
#fond-arome4,
#fond-arome5,
#fond-arome6,
#fond-arome7,
#fond-arome8,
#fond-arome9,
#fond-arome10,
#fond-arome11,
#fond-colorant3,
#fond-colorant2,
#fond-colorant1,
#fond-colorant4,
#fond-sucre1,
#fond-sucre2,
#fond-sucre3,
#fond-sucre4,
#fond-qualite1,
#fond-qualite2,
#fond-qualite3,
#fond-qualite4,
#fond-qualite5,
#fond-engagement5,
#fond-engagement4,
#fond-engagement3,
#fond-engagement2,
#fond-engagement1{
	position:absolute;
	width:100vw;
	height:100vh;
	z-index: 1;
	margin-top:-11.9vh;
	width:100vw;
	height:100vh;
	left:0;
}

#fond-arome1{
	background-image:url('../images/produits/arome1.jpg');
}
#fond-arome2{
	background-image:url('../images/produits/arome2.png');
}
#fond-arome3{
	background-image:url('../images/produits/arome3.jpg');
}
#fond-arome4{
	background-image:url('../images/produits/arome4.jpg');
}
#fond-arome5{
	background-image:url('../images/produits/arome5.jpg');
}
#fond-arome6{
	background-image:url('../images/produits/arome6.jpg');
}
#fond-arome7{
	background-image:url('../images/produits/arome7.jpg');
}
#fond-arome8{
	background-image:url('../images/produits/arome8.jpg');
}
#fond-arome9{
	background-image:url('../images/produits/arome9.jpg');
	background-repeat: no-repeat;
	background-position:150% 50%
}
#fond-arome10{
	background-image:url('../images/produits/arome10.jpg');
	background-repeat: no-repeat;
	background-position:210% 50%
}
#fond-arome11,
#fond-colorant4,
#fond-sucre4{
	background-image:url('../images/produits/produits.jpg');
}
#fond-colorant1{
	background-image:url('../images/produits/colorant1.jpg');
}
#fond-colorant2{
	background-image:url('../images/produits/colorant2.jpg');
}
#fond-colorant3{
	background-image:url('../images/produits/colorant3.jpg');
}
#fond-sucre1{
	background-image:url('../images/produits/sucre1.jpg');
}
#fond-sucre2{
	background-image:url('../images/produits/sucre2.jpg');
}
#fond-sucre3{
	background-image:url('../images/produits/sucre3.jpg');
}
#fond-qualite5{
	background-image:url('../images/qualite/qualite5.jpg');
}
#fond-qualite4{
	background-image:url('../images/qualite/qualite4.jpg');
}
#fond-qualite3{
	background-image:url('../images/qualite/qualite3.jpg');
}
#fond-qualite2{
	background-image:url('../images/qualite/qualite2.jpg');
}
#fond-qualite1{
	background-image:url('../images/qualite/qualite1.jpg');
	background-size:130%;
}
#fond-engagement3{
	background-image:url('../images/engagement/engagement3.jpg');
}
#fond-engagement2{
	background-image:url('../images/engagement/engagement2.jpg');
}
#fond-engagement1{
	background-image:url('../images/engagement/engagement1.jpg');
	background-size:150%
}
#fond-engagement4{
	background-image:url('../images/engagement/engagement4.jpg');
}
#fond-engagement5{
	background-image:url('../images/engagement/engagement5.jpg');
}


#texte-carrousel-arome-1,
#texte-carrousel-arome-2,
#texte-carrousel-arome-3,
#texte-carrousel-arome-4,
#texte-carrousel-arome-5,
#texte-carrousel-arome-6,
#texte-carrousel-arome-7,
#texte-carrousel-arome-8,
#texte-carrousel-arome-9,
#texte-carrousel-arome-10,
#texte-carrousel-colorant-3,
#texte-carrousel-colorant-2,
#texte-carrousel-colorant-1,
#texte-carrousel-sucre-1,
#texte-carrousel-sucre-2,
#texte-carrousel-sucre-3,
#texte-carrousel-qualité-1,
#texte-carrousel-qualité-2,
#texte-carrousel-qualité-3,
#texte-carrousel-qualité-4,
#texte-carrousel-qualité-5,
#texte-carrousel-engagement-1,
#texte-carrousel-engagement-4,
#texte-carrousel-engagement-3,
#texte-carrousel-engagement-2,
#texte-carrousel-engagement-5{
	position:absolute;
}

#texte-carrousel-arome-1,
#texte-carrousel-arome-2,
#texte-carrousel-arome-3,
#texte-carrousel-arome-4,
#texte-carrousel-arome-6,
#texte-carrousel-arome-7,
#texte-carrousel-arome-8,
#texte-carrousel-arome-9,
#texte-carrousel-arome-10,
#texte-carrousel-colorant-1,
#texte-carrousel-colorant-2,
#texte-carrousel-colorant-3,
#texte-carrousel-sucre-1,
#texte-carrousel-sucre-2,
#texte-carrousel-sucre-3,
#texte-carrousel-qualité-1,
#texte-carrousel-qualité-2,
#texte-carrousel-qualite-3,
#texte-carrousel-qualité-4,
#texte-carrousel-qualité-5,
#texte-carrousel-engagement-1,
#texte-carrousel-engagement-4,
#texte-carrousel-engagement-3,
#texte-carrousel-engagement-2,
#texte-carrousel-engagement-5{
	margin-top: 150px
}

#texte-carrousel-arome-5{
	margin-top: 390px
}

#contenu-conctact{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	margin-top:100px
}

#section-contact1,
#section-contact2{
	width:47%;
}

#section-contact2 a,
address{
	font-size:2vw;
	line-height:2.5vw;
	font-family:'questrialregular',helvetica,sans-serif;
	font-size: 1.5vw;
	line-height:2.2vw;
	transition:.2s;
	color:#fff;
}

#section-contact2 a{
	text-decoration:underline;
}

#section-contact2 a:visited{
	color:#fff;
} 

#section-contact2 a:hover{
	color:#FF485A;
}

.contactpage{
	background-image: url('../images/contact.jpg');
	background-size:110%;
}

.contactpage2{
	background-image: url('../images/legals.jpg');
	background-size:cover;
}

.contactpage2 #contenu-conctact{
	margin-top: 35px;
}

iframe{
	width:100%;
	height:32vw
}

.res{
	display:flex;
	flex-direction: row-reverse;
	justify-content:space-between;
	width:20%;
}

.res figure{
	margin-top:	15px;
	margin-bottom: 15px;
	margin-right: 20px;
}

.ecocert{
	position:absolute;
	top: 20.5vh;
	width:5%;
	left:88%;
	z-index: 97;
}

.sepcial-scrool{
	overflow-x: hidden;
}

}/*fin destock*/

@media screen and (max-width:1920px) {
/* iMac 21.5" Paysage = 1920px */
}/*fin iMac 21.5*/

