@media screen and (max-width:768px) {
/* iPad portrait */

.menu,.humberger{display:block;}

.menu {
  cursor: pointer;
  right:5vw;
  top:5vw;
  padding-left: 1.25em;
  position: fixed;
  z-index:99;
  width: 3vw;
  height: 3vh;
}
.menu-global {
  backface-visibility: hidden;
  position: absolute;
  right: 0;
  border-top: 2px solid #F28C25;
  width: 100%;
  transition: 0.55s;
}
.menu-global2 {
  backface-visibility: hidden;
  position: fixed;
  right: 0;
  border-top: 2px solid white;
  width: 100%;
  transition: 0.55s;
}
.menu-top {
  top: 0;
}
.menu-middle {
  top: 7px;
}
.menu-bottom {
  top: 14px;
}
.menu-top-click {
  backface-visibility: hidden;
  top: 15px;
  transform: rotate(50deg);
  transition: 0.55s 0.5s;
  border-top: 2px solid white;
}
.menu-middle-click {
  opacity: 0;
}
.menu-bottom-click {
  backface-visibility: hidden;
  top: 15px;
  transform: rotate(-410deg);
  transition: 0.55s 0.5s;
  border-top: 2px solid white;
}

.humberger{
  position:fixed;
	right: 0;
	padding:2vw;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff8e14+0,ff3c7a+100 */
  background: #ff8e14; /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(255,142,20,.8) 0%, rgba(255,60,122,.8) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(255,142,20,.8) 0%,rgba(255,60,122,.8) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(255,142,20,.8) 0%,rgba(255,60,122,.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8e14', endColorstr='#ff3c7a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	width:100%;
	height:100vh;
	z-index: 95;

	transition: transform .6s ease-in-out;
	-webkit-transition: transform .6s ease-in-out;

	transform: translateX(100%);
	-webkit-transform: translateX(100%);
}

.humberger.isOpen{
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
}

.humberger #conteneurlien{
  position:absolute;
  top: 50%; left: 50%; /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%);
  display:flex;
  flex-direction:column;
}

.humberger #conteneurlien a{
  margin:3vw 0;
  text-align: center;
  color:#fff;
	font-family:'questrialregular',helvetica,sans-serif;
	font-size:5vw;
	font-style:normal;
}

#resp-langue{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  width:80%;
  margin-left:10%
}

#accueil-about header, 
#accueil header{
  padding: 5vw 5vw 0vw 5vw;
}

#content-accueil{
  width: 60%;
  margin: 23vw 20% 0vw 20%;
}

#nav-header-pages, 
#nav-header{
  display: none;
}

h1{
  font-size:6vw;
}

h3{
  font-size:3vw;
}

.button {
    font-size: 2.5vw;
    padding: 3vw 0vw;
    margin: 5vw 5% 3vw 5%;
}

address, p, a{
  font-size:3vw;
  line-height:4.5vw
}

#nav-langue{
  display: none;
}

#about-home{
  flex-direction: column;
}

#text-contacts,
#about-home .illustration,
#text-about-home{
  width:80%;
  margin-left:10%;
}

#text-about-home{
  margin-bottom:10vw;
}
#prestations{
  padding-top:15vw;
  padding-bottom: 15vw;
}

#prestations ul{
  flex-direction:column-reverse;
  padding-top:0vw;
  padding-bottom:0vw;
}


#prestations ul li{
  width:80%;
  margin-left:10%;
  margin-top:15vw;
}

#about2,
#contacts{
  flex-direction:column-reverse;
}

#contacts iframe{
  width:80%;
  height:50vw;
  margin-left:10%;
  margin-bottom:10vw
}

.contact-mention{
  font-size:3vw;
}

#about3,
#content-accueil-about{
  flex-direction: column;
}

#content-about3,
#about2 figure,
#content-about2, 
#content-accueil-about figure,
#text-accueil-about{
  width:80%;
  margin-left: 10%;
  padding-bottom:10vw
}

#about3 figure{
  width:60%;
  margin-left: 20%
}

}/*fin ipad portrait*/