@media screen and (max-width:1024px) {
/* iPad portrait & landscape */

h3{
	font-size:2vw;
}

address,
p, a{
	font-size: 1.75vw;
	line-height: 2.5vw
}

a, a:visited{
	height:2.5vw;
}

#content-accueil {
    width: 40%;
    margin: 9vw 30% 0vw 30%;
}

#accueil-about header #logohome, 
#accueil header figure {
    width: 10%;
}

.button{
	font-size:1.75vw;
}

.contact-mention{
	font-size:2vw;
}

#contacts iframe{
	margin-top: 4vw
}

/* ---------------------------------------- Page About ---------------------------------------- */
/* ---------------------------------------- Page About ---------------------------------------- */
/* ---------------------------------------- Page About ---------------------------------------- */

#content-about2 p{
	margin-top: 4vw;
}

#content-about3{
	margin-top:5vw
}

;}/*ipad landscape fin*/