@media screen and (max-width:667px) {
/* Mobiles paysage */
/* iPhone6+ paysage = 960px */
/* iPhone6 paysage = 667px */
/* iPhone5s paysage = 568px */
/* iPhone4 paysage = 468 px */


.menu{
	top:7vw;
}

.menu-middle{
	top:7px;
}

.menu-bottom{
	top:14px;
}

p, address, a,
#button, span{
	font-size:3vw;
	line-height:4.5vw
}

#logo-home{
	width:80%;
	margin-left:10%;
	margin-top:45vw
}

#langue{
	width:60%;
	margin-left:20%;
	margin-top: 20vw
}

#langue div{
	padding:5vw;
}

#langue div p{
	font-size: 4vw;
}

#top-section1{
	margin-top: 20vw;
}

#fr{
	margin-left:-1.9vw;
}

#en{
	margin-left:-2.5vw;
}

#es{
	margin-left:-2vw;
}

#content-about-home{
	padding-top:5vw;
	flex-direction:column;
}

#content-about,
#text-about-home{
	width:80%;
	margin-left:10%;
	margin-top: 5vw
}

#about-home .illustration{
	width:60%;
	margin-left:17%;
}

#rond-grand{
	margin-top:25vw;
}

#barre-blanche1{
	height: 50vw
}

#barre-blanche2{
	height: 40vw;
	margin-top: -19vw;
	left: 10vw;
}

header{
	padding-top:5vw;
}

header figure{
	width:10%;
}

#content-about2{
	width:80%;
	margin-left:10%;
	flex-direction: column-reverse;
}

#content-about2 .illustration{
	width:90%;
	margin:10vw 0vw 10vw 5vw;

}

#text-about2{width:100%;
			 margin-left:5vw;}

#rond-grand-2{
	margin-top:4vw;
}

#rond-petit-2{
	left:90%;
}

#rond-moyen-2{
	margin-top: 0vw;
}

#barre-rouge1{
	    height: 50vw;
}

#barre-rouge2{
	    height: 50vw;
	    left:10vw;
}

}/* fin media phone paysage*/
