@media screen and (max-width:1024px) {
/* iPad portrait & landscape */

address,
p, a,span,#button{
	font-size: 2vw;
	line-height: 2.8vw
}

a, a:visited{
	height:2.5vw;
}

#text-about-home {
    width: 60%;
}

.illustration {
	padding-top:7vw;
    width: 33%;
}

#top-section2{
	margin-top:2vw
}

footer{
	padding-top:4vw;
	padding-bottom:4vw
}

#fr,
#en,
#es{
	line-height:2vw
}

/* ---------------------------------------- Page About ---------------------------------------- */
/* ---------------------------------------- Page About ---------------------------------------- */
/* ---------------------------------------- Page About ---------------------------------------- */


;}/*ipad landscape fin*/